<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/help.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Text Generator</title>
</head>

<body>
  <h1><a href='/'>Text Generator<a></h1>

  <div class='content'>
    <p>'Text Generator' is an intelligent system which completes any incomplete sentence or text. It 
      generates text of adjustable length according to the context given <span>without</span>
    using any database. It can also be used to predict just the next word given a context in the text box. The web
    app needs <span>atleast 30 words</span> as context to generate the provided outcome.</p>
    <ul>
      <li><span>Run for one</span> generates a word for the context provided.</li>
      <li><span>Custom run</span> generates as many words as entered by the user.</li>
      <li>The app keeps on adding context each time you hit <span>Submit</span>.</li>
      <li>To clear the previously added data hit <span>Reset</span>.</li>
    </ul>
    <p>Also, here '&lt;unk&gt;' means a unique name and 'N' means any number.</p>
  </div>
