<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Text Generator</title>
</head>

<body>
  <h1>Text Generator</h1>
  <a id='help' href="/help">Help</a>

  <div class='outer'>

      <div class="container">

          <div class="textbox">
            <form name='form0' action='/context' method="post">
              <textarea rows="10" cols="60" placeholder="Enter context as text" name="data"></textarea><br>
              <button class='but' name='submit' value='pressed'>Submit</button>
              <button class='but' name='reset' value='pressed'>Reset</button>
            </form>
          </div>

          <div class="prediction">
            <form name='form1' action='/predict' method="post">
              <label>Enter the length of data to be generated:</label>
              <br><br>
              <input placeholder="Number" name='length'>
              <br><br>
              <button class='but' name='one' value='pressed'>Run for one</button>
              <button class='but' name='custom' value='pressed'>Custom run</button>
            </form>
            <p id="status">{{status}}</p>
          </div>

        </div>

        <div class="box">
          <p>{{output}}</p>
        </div>

    </div>
</body>
</html>
